.big-card__container {
  color: #ececec;
}

.big-card__container a {
  text-decoration: none;
}

.big-card__container:hover {
  filter: brightness(1.25);
}

.big-card__picture > img {
  width: 100%;
  height: 360px;
  margin-bottom: 5px;
}

.big-card__title {
  color: #ececec;
  margin: 10px 0;
  line-height: 1.3;
}

.big-card__date {
  margin: 10px 0;
  font-size: 0.7rem;
  color: grey;
}

.big-card__description {
  color: grey;
  font-size: 0.9rem;
  line-height: 1.5;
}