.title__container {
  color: #ffffff;
  font-family: 'Mona-Sans', sans-serif;
}

.title__container > h1 {
  margin: 5px 0;
  font-size: 7.188rem;
  display: flex;
  justify-content: center;
}

.title__container > hr {
  margin: 10px 0;
}