<hr />
<div class="about__container">
  <div class="about__photo">
    <img src="https://media.licdn.com/dms/image/C4D03AQFfKnGCbGUnzg/profile-displayphoto-shrink_200_200/0/1602991562356?e=1700092800&v=beta&t=63bnwDJm8GiaAPo288SS731x3oIHExtHvLpTlyYzKsQ" alt="Perfil photo">
  </div>
  <div class="about__text">
    <p>
      Profissional da área TI com mais de 10 anos de experiência sempre com muita empatia, seriedade e profissionalismo.
      Formado em Análise e Desenvolvimento de Software pela Universidade Estácio de Sá, atuando profissionalmente como desenvolvedor Java.
    </p>
  </div>
</div>
