.small-card__container {
  display: flex;
  gap: 18px;
}

.small-card__picture > img{
  height: 130px;
  width: 170px;
}

.small-card__date {
  margin: 5px 0 12px 0;
  font-size: 0.7rem;
  color: grey;
}

.small-card__wrapper hr {
  margin: 20px 0;
}
