.content__container {
  margin: 50px 20%;
  font-size: 1.3rem;
}

.content__title {
  max-width: 712px;
  margin: 40px 0;
}

.content__cover>img {
  width: 712px;
  height: 412px;
}

.content__description,
.content__text  {
  margin-top: 40px;
}

.content__description > p{
  color: gray;
}

.content__date {
  margin: 10px 0;
  font-size: 0.8rem;
  color: grey;
}

.content__text {
  max-width: 712px;
  line-height: 1.8;
  text-align: justify;
}