.content__container {
  width: 100%;
  margin-top: 50px;
}

.content__title {
  max-width: 750px;
  margin: 50px 0;
}

.content__cover > img {
  min-width: 512px;
  max-height: 512px;
}

.content__description {
  margin-top: 40px;
}