<header>
  <app-menu></app-menu>
</header>
<div class="title">
  <app-title></app-title>
</div>
<div class="articles__container">
  <article class="article__main">
    <app-big-card
      cardPhotoCover="https://static.techgoing.com/2023/09/Windows-11-Paints-new-feature-2-1024x699.gif"
      cardDate="01 de Agosto, 2023"
      cardTitle="Paint do Windows 11 pode ganhar ferramenta para remover fundo de imagens"
      cardDescription="Atualização liberada para Windows Insiders traz recurso que identifica automaticamente assunto da imagem e apaga o resto com apenas um clique"
      cardLink="https://tecnoblog.net/noticias/2023/09/08/paint-do-windows-11-pode-ganhar-ferramenta-para-remover-fundo-de-imagens/"
    ></app-big-card>
  </article>
  <aside class="article__aside">
    <app-small-card
      cardPhotoCover="https://tm.ibxk.com.br/2023/07/12/12115957215144.jpg?ims=252x144"
      cardDate="20 de Maio, 2023"
      cardTitle="GitHub agora permite fazer login sem precisar de senha; entenda"
      cardLink="https://www.tecmundo.com.br/seguranca/266275-github-ganha-login-via-passkeys-metodo-acesso-senhas.htm"
    ></app-small-card>
    <app-small-card
      cardPhotoCover="https://tm.ibxk.com.br/2023/07/26/26110451182097.jpg?ims=532x336"
      cardDate="17 de Abril, 2023"
      cardTitle="O que é linguagem de programação? Conheça as principais"
      cardLink="https://www.tecmundo.com.br/internet/266848-linguagem-programacao-conheca-principais.htm"
    ></app-small-card>
    <app-small-card
      cardPhotoCover="https://tm.ibxk.com.br/2023/07/10/10105928172122.jpg?ims=252x144"
      cardDate="5 de Fevereiro, 2023"
      cardTitle="Curso grátis para profissionais de tecnologia e programação básica"
      cardLink="https://www.tecmundo.com.br/mercado/266164-curso-gratis-profissionais-tecnologia-programacao-basica.htm"
    ></app-small-card>
  </aside>
</div>
<footer>
  <ul class="menu__links_social">
    <li>
      <a
        href="https://www.linkedin.com/in/rafael-santos-da-silva/"
        target="_blank"
        ><img src="assets/images/social_linkedin.png" alt=""
      /></a>
    </li>
    <li>
      <a href="https://github.com/silvasantosrafael" target="_blank"
        ><img src="assets/images/social_github.png" alt=""
      /></a>
    </li>
    <li>
      <a href="mailto:rafael.silva318819@gmail.com" target="_blank"
        ><img src="assets/images/social_email.png" alt=""
      /></a>
    </li>
  </ul>
</footer>
