<div class="title">
  <app-title></app-title>
</div>
<div class="articles__container">
  <article class="article__main">
    <app-big-card
      *ngFor="let post of posts.slice(0, 1)"
      cardId="{{ post.id }}"
      cardPhotoCover="{{ post.photo }}"
      cardDate="{{ post.date }}"
      cardTitle="{{ post.title }}"
      cardDescription="{{ post.description }}"
    ></app-big-card>
  </article>
  <aside class="article__aside">
    <app-small-card
      *ngFor="let post of posts.slice(1, 4)"
      cardId="{{ post.id }}"
      cardPhotoCover="{{ post.photo }}"
      cardDate="{{ post.date }}"
      cardTitle="{{ post.title }}"
    ></app-small-card>
  </aside>
</div>
<footer>
  <ul class="menu__links_social">
    <li>
      <a
        href="https://www.linkedin.com/in/rafael-santos-da-silva/"
        target="_blank"
        ><img src="assets/images/social_linkedin.png" alt=""
      /></a>
    </li>
    <li>
      <a href="https://github.com/silvasantosrafael" target="_blank"
        ><img src="assets/images/social_github.png" alt=""
      /></a>
    </li>
    <li>
      <a href="mailto:rafael.silva318819@gmail.com" target="_blank"
        ><img src="assets/images/social_email.png" alt=""
      /></a>
    </li>
  </ul>
</footer>
