/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.cdnfonts.com/css/mona-sans');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #191919;
  font-family: 'Mona-Sans', sans-serif;
}

body {
  margin: 0 15%;
}