<div class="menu__container">
  <div class="menu__logo">
    <img src="assets/images/logo.png" alt="A logo with letter R">
  </div>
  <nav class="menu__navigation">
    <ul class="menu__links">
      <li><a [routerLink]="['']">Home</a></li>
      <li><a [routerLink]="['posts']">Posts</a></li>
      <li><a href="#">About me</a></li>
    </ul>
    <ul class="menu__links_social">
      <li><a href="https://www.linkedin.com/in/rafael-santos-da-silva/" target="_blank"><img src="assets/images/social_linkedin.png" alt=""></a></li>
      <li><a href="https://github.com/silvasantosrafael" target="_blank"><img src="assets/images/social_github.png" alt=""></a></li>
      <li><a href="mailto:rafael.silva318819@gmail.com" target="_blank"><img src="assets/images/social_email.png" alt=""></a></li>
    </ul>
  </nav>
</div>
