<div class="menu__container">
  <div class="menu__logo">
    <img src="assets/images/logo.png" alt="A logo with letter R">
  </div>
  <nav class="menu__navigation">
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">Posts</a></li>
      <li><a href="#">About me</a></li>
    </ul>
    <ul>
      <li><a href="#"><img src="assets/images/social_linkedin.png" alt=""></a></li>
      <li><a href="#"><img src="assets/images/social_github.png" alt=""></a></li>
      <li><a href="#"><img src="assets/images/social_email.png" alt=""></a></li>
    </ul>
  </nav>
</div>
